@model EducationModel

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <small class="text-muted float-end">Yarat</small>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="Education" class="form-label">Ad</label>
                        <input asp-for="Education" class="form-control" />
                        <span class="text-danger" asp-validation-for="Education"></span>
                    </div>
                  
                    <button type="submit" class="btn btn-primary">Yarat</button>
                    <a asp-action="Index" class="btn btn-secondary">Geri qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>