@model BlogModel

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <small class="text-muted float-end">Yarat</small>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="mb-3 form-group">
                        <label asp-for="Photo" class="form-label">Şəkil</label>
                        <input asp-for="Photo" accept="image/*" class="form-control" />
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Title" class="form-label">Başlıq</label>
                        <input asp-for="Title" class="form-control" />
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Description" class="form-label">Təsvir</label>
                        <textarea id="editor" asp-for="Description" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Yarat</button>
                    <a asp-action="Index" class="btn btn-secondary">Geri qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

}