<div class="col-lg-4 sidebar">
    <div class="single-slidebar">
        <input type="text" class="form-control" placeholder="Açar söz" />
        <br />
        <h5>Şəhər</h5>
        <select class="form-control">
            <option class="form-control" href="category.html">New York</option>
            <option class="form-control" href="category.html">New York</option>
            <option class="form-control" href="category.html">New York</option>
        </select>
        <br />
        <h5>Kateqoriya</h5>
        <select class="form-control">
            <option class="form-control" href="category.html">Proqramlaşdırma</option>
            <option class="form-control" href="category.html">Proqramlaşdırma</option>
            <option class="form-control" href="category.html">Proqramlaşdırma</option>
        </select>
        <br />
        <h5>İş təcrübəsi</h5>
        <select class="form-control">
            <option class="form-control" href="category.html">1 ildən az</option>
            <option class="form-control" href="category.html">1 ildən 3 ilə qədər</option>
        </select>
        <br />
        <button class="genric-btn success circle form-control">Axtar</button>
    </div>

</div>